In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')

C:\Users\jorge\AppData\Local\Temp\ipykernel_12208\1771864721.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')
[*********************100%***********************]  1 of 1 completed

In [3]:
Apple

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.538528   72.598907   71.292319   71.545905  135480400
2020-01-03   71.833305   72.594071   71.608700   71.765682  146322800
2020-01-06   72.405685   72.444328   70.703020   70.954195  118387200
2020-01-07   72.065140   72.671333   71.845362   72.415330  108872000
2020-01-08   73.224403   73.526295   71.768079   71.768079  132079200
...                ...         ...         ...         ...        ...
2025-09-18  237.880005  241.199997  236.649994  239.970001   44249600
2025-09-19  245.500000  246.300003  240.210007  241.229996  163741300
2025-09-22  256.079987  256.640015  248.119995  248.300003  105517400
2025-09-23  254.429993  257.339996  253.580002  255.880005   60275200
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700

[1440 rows x 5 columns]