In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')

C:\Users\jorge\AppData\Local\Temp\ipykernel_19764\1771864721.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')
[*********************100%***********************]  1 of 1 completed

In [3]:
Apple

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.538521   72.598899   71.292311   71.545897  135480400
2020-01-03   71.833290   72.594055   71.608685   71.765667  146322800
2020-01-06   72.405685   72.444328   70.703020   70.954195  118387200
2020-01-07   72.065140   72.671333   71.845362   72.415330  108872000
2020-01-08   73.224426   73.526318   71.768101   71.768101  132079200
...                ...         ...         ...         ...        ...
2025-09-18  237.880005  241.199997  236.649994  239.970001   44249600
2025-09-19  245.500000  246.300003  240.210007  241.229996  163741300
2025-09-22  256.079987  256.640015  248.119995  248.300003  105517400
2025-09-23  254.429993  257.339996  253.580002  255.880005   60275200
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700

[1440 rows x 5 columns]

In [4]:
tickers = ['SPY', 'AAPL', 'KO']

In [5]:
stocks = yf.download(tickers, start='2020-01-01', end='2020-03-31')

C:\Users\jorge\AppData\Local\Temp\ipykernel_19764\2779240626.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stocks = yf.download(tickers, start='2020-01-01', end='2020-03-31')
[*********************100%***********************]  3 of 3 completed

In [6]:
stocks

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  72.538506  46.066410  298.578674  72.598884  46.435007
2020-01-03  71.833290  45.815090  296.317657  72.594055  46.066410
2020-01-06  72.405663  45.798340  297.448212  72.444306  45.999395
2020-01-07  72.065163  45.446487  296.611847  72.671356  45.739689
2020-01-08  73.224403  45.530266  298.192688  73.526295  45.773206
...               ...        ...         ...        ...        ...
2020-03-24  59.766308  33.338017  224.786224  59.962397  34.985904
2020-03-25  59.437065  35.163372  228.151337  62.518825  36.718301
2020-03-26  62.564823  37.428165  241.473007  62.622922  38.256334
2020-03-27  59.974495  36.177456  234.280609  61.942655  37.208439
2020-03-30  61.686043  38.028160  241.889008  61.857926  38.501401

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  298.597074  71.292296  45.873731  296.428051  71.545882
2020-01-03  297.448125  71.608685  45.312457  295.113677  71.765667
2020-01-06  297.530925  70.702997  45.672683  294.433631  70.954173
2020-01-07  297.356292  71.845385  45.362716  296.161483  72.415353
2020-01-08  299.415040  71.768079  45.362724  296.556742  71.768079
...                ...        ...        ...         ...        ...
2020-03-24  225.664487  56.720860  32.814074  216.142386  57.219557
2020-03-25  236.989336  59.141719  33.726752  221.643034  60.703176
2020-03-26  242.952145  59.640418  35.873236  230.240622  59.679153
2020-03-27  241.112483  59.807455  35.830977  232.089606  61.187347
2020-03-30  242.610097  60.376354  36.371823  234.382271  60.700753

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2020-01-02  46.342857  297.356322  135480400  11867700   59151200
2020-01-03  45.505133  295.168819  146322800  11354500   77709700
2020-01-06  45.781588  294.553115  118387200  14698300   55653900
2020-01-07  45.614033  296.878357  108872000   9973900   40496400
2020-01-08  45.463250  296.804881  132079200  10676000   68296000
...               ...         ...        ...       ...        ...
2020-03-24  34.833791  216.715557  287531200  49096200  235494500
2020-03-25  34.335204  226.376345  303602000  42511700  299430300
2020-03-26  36.202813  230.675126  252087200  37821700  257632800
2020-03-27  36.895764  234.141943  204216800  23297900  224341200
2020-03-30  36.371823  236.388381  167976400  23446000  171369500

[61 rows x 15 columns]

In [7]:
stocks.head()

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  72.538506  46.066410  298.578674  72.598884  46.435007
2020-01-03  71.833290  45.815090  296.317657  72.594055  46.066410
2020-01-06  72.405663  45.798340  297.448212  72.444306  45.999395
2020-01-07  72.065163  45.446487  296.611847  72.671356  45.739689
2020-01-08  73.224403  45.530266  298.192688  73.526295  45.773206

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  298.597074  71.292296  45.873731  296.428051  71.545882
2020-01-03  297.448125  71.608685  45.312457  295.113677  71.765667
2020-01-06  297.530925  70.702997  45.672683  294.433631  70.954173
2020-01-07  297.356292  71.845385  45.362716  296.161483  72.415353
2020-01-08  299.415040  71.768079  45.362724  296.556742  71.768079

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342857  297.356322  135480400  11867700  59151200
2020-01-03  45.505133  295.168819  146322800  11354500  77709700
2020-01-06  45.781588  294.553115  118387200  14698300  55653900
2020-01-07  45.614033  296.878357  108872000   9973900  40496400
2020-01-08  45.463250  296.804881  132079200  10676000  68296000