In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')

C:\Users\jorge\AppData\Local\Temp\ipykernel_1268\1771864721.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')
[*********************100%***********************]  1 of 1 completed

In [3]:
Apple

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.538513   72.598892   71.292304   71.545890  135480400
2020-01-03   71.833298   72.594063   71.608692   71.765674  146322800
2020-01-06   72.405670   72.444313   70.703005   70.954181  118387200
2020-01-07   72.065155   72.671348   71.845377   72.415345  108872000
2020-01-08   73.224411   73.526303   71.768086   71.768086  132079200
...                ...         ...         ...         ...        ...
2025-09-18  237.880005  241.199997  236.649994  239.970001   44249600
2025-09-19  245.500000  246.300003  240.210007  241.229996  163741300
2025-09-22  256.079987  256.640015  248.119995  248.300003  105517400
2025-09-23  254.429993  257.339996  253.580002  255.880005   60275200
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700

[1440 rows x 5 columns]

In [4]:
tickers = ['SPY', 'AAPL', 'KO']

In [5]:
stocks = yf.download(tickers, start='2020-01-01', end='2020-03-31')

C:\Users\jorge\AppData\Local\Temp\ipykernel_1268\2779240626.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stocks = yf.download(tickers, start='2020-01-01', end='2020-03-31')
[*********************100%***********************]  3 of 3 completed

In [6]:
stocks

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  72.538506  46.066410  298.578613  72.598884  46.435007
2020-01-03  71.833282  45.815094  296.317780  72.594048  46.066414
2020-01-06  72.405701  45.798332  297.448181  72.444344  45.999387
2020-01-07  72.065163  45.446495  296.611755  72.671356  45.739697
2020-01-08  73.224396  45.530270  298.192688  73.526287  45.773210
...               ...        ...         ...        ...        ...
2020-03-24  59.766300  33.338020  224.786240  59.962390  34.985908
2020-03-25  59.437065  35.163376  228.151337  62.518825  36.718305
2020-03-26  62.564835  37.428162  241.473038  62.622933  38.256330
2020-03-27  59.974506  36.177460  234.280609  61.942667  37.208443
2020-03-30  61.686043  38.028168  241.889053  61.857926  38.501408

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  298.597013  71.292296  45.873731  296.427990  71.545882
2020-01-03  297.448247  71.608677  45.312461  295.113798  71.765659
2020-01-06  297.530894  70.703034  45.672676  294.433601  70.954210
2020-01-07  297.356201  71.845385  45.362724  296.161392  72.415353
2020-01-08  299.415040  71.768071  45.362727  296.556742  71.768071
...                ...        ...        ...         ...        ...
2020-03-24  225.664503  56.720852  32.814078  216.142401  57.219550
2020-03-25  236.989336  59.141719  33.726756  221.643034  60.703176
2020-03-26  242.952176  59.640429  35.873232  230.240651  59.679164
2020-03-27  241.112483  59.807466  35.830981  232.089606  61.187358
2020-03-30  242.610143  60.376354  36.371831  234.382315  60.700753

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2020-01-02  46.342857  297.356261  135480400  11867700   59151200
2020-01-03  45.505137  295.168940  146322800  11354500   77709700
2020-01-06  45.781581  294.553085  118387200  14698300   55653900
2020-01-07  45.614040  296.878266  108872000   9973900   40496400
2020-01-08  45.463253  296.804881  132079200  10676000   68296000
...               ...         ...        ...       ...        ...
2020-03-24  34.833795  216.715571  287531200  49096200  235494500
2020-03-25  34.335207  226.376345  303602000  42511700  299430300
2020-03-26  36.202809  230.675155  252087200  37821700  257632800
2020-03-27  36.895768  234.141943  204216800  23297900  224341200
2020-03-30  36.371831  236.388426  167976400  23446000  171369500

[61 rows x 15 columns]