In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')

C:\Users\jorge\AppData\Local\Temp\ipykernel_13196\1771864721.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')
[*********************100%***********************]  1 of 1 completed

In [3]:
Apple

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.538506   72.598884   71.292296   71.545882  135480400
2020-01-03   71.833290   72.594055   71.608685   71.765667  146322800
2020-01-06   72.405678   72.444321   70.703012   70.954188  118387200
2020-01-07   72.065147   72.671341   71.845369   72.415337  108872000
2020-01-08   73.224419   73.526310   71.768094   71.768094  132079200
...                ...         ...         ...         ...        ...
2025-09-18  237.880005  241.199997  236.649994  239.970001   44249600
2025-09-19  245.500000  246.300003  240.210007  241.229996  163741300
2025-09-22  256.079987  256.640015  248.119995  248.300003  105517400
2025-09-23  254.429993  257.339996  253.580002  255.880005   60275200
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700

[1440 rows x 5 columns]

In [4]:
tickers = ['SPY', 'AAPL', 'KO']

In [5]:
stocks = yf.download(tickers, start='2020-01-01', end='2025-03-31')

C:\Users\jorge\AppData\Local\Temp\ipykernel_13196\3437500281.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stocks = yf.download(tickers, start='2020-01-01', end='2025-03-31')
[*********************100%***********************]  3 of 3 completed

In [6]:
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2020-01-02   72.538513  46.066418  298.578613   72.598892  46.435015
2020-01-03   71.833298  45.815090  296.317719   72.594063  46.066410
2020-01-06   72.405701  45.798332  297.448273   72.444344  45.999387
2020-01-07   72.065163  45.446487  296.611877   72.671356  45.739689
2020-01-08   73.224396  45.530258  298.192596   73.526287  45.773199
...                ...        ...         ...         ...        ...
2025-03-24  220.191025  67.942162  570.805359  220.939193  68.070266
2025-03-25  223.203659  67.804214  572.177490  223.552811  68.070272
2025-03-26  220.989059  68.996529  565.346680  224.470543  69.321707
2025-03-27  223.303406  69.705994  563.845276  224.440621  69.952339
2025-03-28  217.367935  69.341415  552.490417  223.263508  70.277526

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2020-01-02  298.597013   71.292304  45.873738  296.427990   71.545890
2020-01-03  297.448186   71.608692  45.312457  295.113738   71.765674
2020-01-06  297.530986   70.703034  45.672676  294.433692   70.954210
2020-01-07  297.356323   71.845385  45.362716  296.161513   72.415353
2020-01-08  299.414949   71.768071  45.362716  296.556651   71.768071
...                ...         ...        ...         ...         ...
2025-03-24  571.869263  218.046281  67.331229  566.947486  220.460370
2025-03-25  573.122023  219.542622  67.597285  570.417567  220.230940
2025-03-26  573.042520  219.931650  67.892904  563.954641  222.964220
2025-03-27  567.643493  220.021431  69.045789  561.717468  220.849406
2025-03-28  563.039943  217.148471  68.513690  551.903817  221.128734

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342865  297.356261  135480400  11867700  59151200
2020-01-03  45.505133  295.168880  146322800  11354500  77709700
2020-01-06  45.781581  294.553175  118387200  14698300  55653900
2020-01-07  45.614033  296.878388  108872000   9973900  40496400
2020-01-08  45.463242  296.804790  132079200  10676000  68296000
...               ...         ...        ...       ...       ...
2025-03-24  67.794360  567.544039   44299500  12575400  58766800
2025-03-25  67.942168  572.018369   34493600  12513900  38355700
2025-03-26  67.912609  571.909008   34466100  14478200  51848300
2025-03-27  69.154182  563.944681   37094800  11663400  42164200
2025-03-28  69.774979  562.304174   39818600  17412900  71662700

[1317 rows x 15 columns]

In [7]:
stocks.head()

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  72.538513  46.066418  298.578613  72.598892  46.435015
2020-01-03  71.833298  45.815090  296.317719  72.594063  46.066410
2020-01-06  72.405701  45.798332  297.448273  72.444344  45.999387
2020-01-07  72.065163  45.446487  296.611877  72.671356  45.739689
2020-01-08  73.224396  45.530258  298.192596  73.526287  45.773199

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  298.597013  71.292304  45.873738  296.427990  71.545890
2020-01-03  297.448186  71.608692  45.312457  295.113738  71.765674
2020-01-06  297.530986  70.703034  45.672676  294.433692  70.954210
2020-01-07  297.356323  71.845385  45.362716  296.161513  72.415353
2020-01-08  299.414949  71.768071  45.362716  296.556651  71.768071

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342865  297.356261  135480400  11867700  59151200
2020-01-03  45.505133  295.168880  146322800  11354500  77709700
2020-01-06  45.781581  294.553175  118387200  14698300  55653900
2020-01-07  45.614033  296.878388  108872000   9973900  40496400
2020-01-08  45.463242  296.804790  132079200  10676000  68296000

In [8]:
stocks.tail()

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2025-03-24  220.191025  67.942162  570.805359  220.939193  68.070266
2025-03-25  223.203659  67.804214  572.177490  223.552811  68.070272
2025-03-26  220.989059  68.996529  565.346680  224.470543  69.321707
2025-03-27  223.303406  69.705994  563.845276  224.440621  69.952339
2025-03-28  217.367935  69.341415  552.490417  223.263508  70.277526

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2025-03-24  571.869263  218.046281  67.331229  566.947486  220.460370
2025-03-25  573.122023  219.542622  67.597285  570.417567  220.230940
2025-03-26  573.042520  219.931650  67.892904  563.954641  222.964220
2025-03-27  567.643493  220.021431  69.045789  561.717468  220.849406
2025-03-28  563.039943  217.148471  68.513690  551.903817  221.128734

Price                                Volume
Ticker             KO         SPY      AAPL        KO       SPY
Date
2025-03-24  67.794360  567.544039  44299500  12575400  58766800
2025-03-25  67.942168  572.018369  34493600  12513900  38355700
2025-03-26  67.912609  571.909008  34466100  14478200  51848300
2025-03-27  69.154182  563.944681  37094800  11663400  42164200
2025-03-28  69.774979  562.304174  39818600  17412900  71662700

In [9]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1317 entries, 2020-01-02 to 2025-03-28
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   1317 non-null   float64
 1   (Close, KO)     1317 non-null   float64
 2   (Close, SPY)    1317 non-null   float64
 3   (High, AAPL)    1317 non-null   float64
 4   (High, KO)      1317 non-null   float64
 5   (High, SPY)     1317 non-null   float64
 6   (Low, AAPL)     1317 non-null   float64
 7   (Low, KO)       1317 non-null   float64
 8   (Low, SPY)      1317 non-null   float64
 9   (Open, AAPL)    1317 non-null   float64
 10  (Open, KO)      1317 non-null   float64
 11  (Open, SPY)     1317 non-null   float64
 12  (Volume, AAPL)  1317 non-null   int64
 13  (Volume, KO)    1317 non-null   int64
 14  (Volume, SPY)   1317 non-null   int64
dtypes: float64(12), int64(3)
memory usage: 164.6 KB

In [11]:
stocks.to_csv("stocks.csv")

In [12]:
stocks = pd.read_csv("stocks.csv")

In [13]:
stocks

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Ticker,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,72.53851318359375,46.0664176940918,298.57861328125,72.59889150198023,46.43501489183911,298.5970126532111,71.29230380764884,45.87373847263079,296.4279903485333,71.54588979671196,46.342864793486875,297.35626110222984,135480400,11867700,59151200
3,2020-01-03,71.83329772949219,45.81509017944336,296.3177185058594,72.59406313642577,46.066409748204144,297.44818606290164,71.60869213351766,45.312457433243914,295.1137376014159,71.76567430155144,45.50513342580907,295.16887962392286,146322800,11354500,77709700
4,2020-01-06,72.40570068359375,45.79833221435547,297.4482727050781,72.44434370473681,45.99938721656085,297.5309857629317,70.70303448364317,45.67267563418035,294.4336916748636,70.95421043587167,45.78158056019413,294.5531754410407,118387200,14698300,55653900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2025-03-24,220.19102478027344,67.9421615600586,570.8053588867188,220.93919345594836,68.07026617416429,571.86926269199,218.04628066528426,67.3312288510982,566.9474862667257,220.460369765545,67.7943601097465,567.5440394813636,44299500,12575400,58766800
1315,2025-03-25,223.2036590576172,67.80421447753906,572.177490234375,223.55281053469957,68.07027214719969,573.1220227068575,219.54262209652958,67.59728491106806,570.4175672260229,220.23093972638688,67.94216752185307,572.0183689196199,34493600,12513900,38355700
1316,2025-03-26,220.9890594482422,68.99652862548828,565.3466796875,224.47054292972726,69.32170688704826,573.0425195248911,219.93165022699972,67.89290424862126,563.9546412826954,222.96422035625233,67.91260860483223,571.9090077398645,34466100,14478200,51848300
1317,2025-03-27,223.30340576171875,69.70599365234375,563.8452758789062,224.4406214835582,69.9523394106041,567.6434930945948,220.0214308095873,69.04578882449623,561.717468314772,220.84940592957574,69.15418155956085,563.944681183511,37094800,11663400,42164200
1318,2025-03-28,217.36793518066406,69.34141540527344,552.4904174804688,223.26350805320467,70.27752639647278,563.0399428035041,217.1484711493609,68.51368964480476,551.903816900767,221.12873402087155,69.77497888182668,562.304173568215,39818600,17412900,71662700

In [22]:
stocks = pd.read_csv("stocks.csv", header=[0,1],index_col=[0],parse_dates=[0])
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2020-01-02   72.538513  46.066418  298.578613   72.598892  46.435015
2020-01-03   71.833298  45.815090  296.317719   72.594063  46.066410
2020-01-06   72.405701  45.798332  297.448273   72.444344  45.999387
2020-01-07   72.065163  45.446487  296.611877   72.671356  45.739689
2020-01-08   73.224396  45.530258  298.192596   73.526287  45.773199
...                ...        ...         ...         ...        ...
2025-03-24  220.191025  67.942162  570.805359  220.939193  68.070266
2025-03-25  223.203659  67.804214  572.177490  223.552811  68.070272
2025-03-26  220.989059  68.996529  565.346680  224.470543  69.321707
2025-03-27  223.303406  69.705994  563.845276  224.440621  69.952339
2025-03-28  217.367935  69.341415  552.490417  223.263508  70.277526

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2020-01-02  298.597013   71.292304  45.873738  296.427990   71.545890
2020-01-03  297.448186   71.608692  45.312457  295.113738   71.765674
2020-01-06  297.530986   70.703034  45.672676  294.433692   70.954210
2020-01-07  297.356323   71.845385  45.362716  296.161513   72.415353
2020-01-08  299.414949   71.768071  45.362716  296.556651   71.768071
...                ...         ...        ...         ...         ...
2025-03-24  571.869263  218.046281  67.331229  566.947486  220.460370
2025-03-25  573.122023  219.542622  67.597285  570.417567  220.230940
2025-03-26  573.042520  219.931650  67.892904  563.954641  222.964220
2025-03-27  567.643493  220.021431  69.045789  561.717468  220.849406
2025-03-28  563.039943  217.148471  68.513690  551.903817  221.128734

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342865  297.356261  135480400  11867700  59151200
2020-01-03  45.505133  295.168880  146322800  11354500  77709700
2020-01-06  45.781581  294.553175  118387200  14698300  55653900
2020-01-07  45.614033  296.878388  108872000   9973900  40496400
2020-01-08  45.463242  296.804790  132079200  10676000  68296000
...               ...         ...        ...       ...       ...
2025-03-24  67.794360  567.544039   44299500  12575400  58766800
2025-03-25  67.942168  572.018369   34493600  12513900  38355700
2025-03-26  67.912609  571.909008   34466100  14478200  51848300
2025-03-27  69.154182  563.944681   37094800  11663400  42164200
2025-03-28  69.774979  562.304174   39818600  17412900  71662700

[1317 rows x 15 columns]

In [23]:
stocks.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close',   'KO'),
            ( 'Close',  'SPY'),
            (  'High', 'AAPL'),
            (  'High',   'KO'),
            (  'High',  'SPY'),
            (   'Low', 'AAPL'),
            (   'Low',   'KO'),
            (   'Low',  'SPY'),
            (  'Open', 'AAPL'),
            (  'Open',   'KO'),
            (  'Open',  'SPY'),
            ('Volume', 'AAPL'),
            ('Volume',   'KO'),
            ('Volume',  'SPY')],
           names=['Price', 'Ticker'])