In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')

C:\Users\jorge\AppData\Local\Temp\ipykernel_19764\1771864721.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Apple = yf.download('AAPL', start='2020-01-01', end='2025-09-25')
[*********************100%***********************]  1 of 1 completed

In [12]:
Apple

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.538521   72.598899   71.292311   71.545897  135480400
2020-01-03   71.833290   72.594055   71.608685   71.765667  146322800
2020-01-06   72.405685   72.444328   70.703020   70.954195  118387200
2020-01-07   72.065140   72.671333   71.845362   72.415330  108872000
2020-01-08   73.224426   73.526318   71.768101   71.768101  132079200
...                ...         ...         ...         ...        ...
2025-09-18  237.880005  241.199997  236.649994  239.970001   44249600
2025-09-19  245.500000  246.300003  240.210007  241.229996  163741300
2025-09-22  256.079987  256.640015  248.119995  248.300003  105517400
2025-09-23  254.429993  257.339996  253.580002  255.880005   60275200
2025-09-24  252.309998  255.740005  251.039993  255.220001   42303700

[1440 rows x 5 columns]

In [13]:
tickers = ['SPY', 'AAPL', 'KO']

In [14]:
stocks = yf.download(tickers, start='2020-01-01', end='2025-03-31')

C:\Users\jorge\AppData\Local\Temp\ipykernel_19764\3437500281.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stocks = yf.download(tickers, start='2020-01-01', end='2025-03-31')
[*********************100%***********************]  3 of 3 completed

In [15]:
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2020-01-02   72.538521  46.066410  298.578613   72.598899  46.435007
2020-01-03   71.833282  45.815094  296.317719   72.594048  46.066414
2020-01-06   72.405678  45.798328  297.448212   72.444321  45.999383
2020-01-07   72.065155  45.446491  296.611816   72.671348  45.739693
2020-01-08   73.224434  45.530262  298.192596   73.526326  45.773203
...                ...        ...         ...         ...        ...
2025-03-24  220.191025  67.942169  570.805359  220.939193  68.070274
2025-03-25  223.203659  67.804207  572.177490  223.552811  68.070264
2025-03-26  220.989059  68.996521  565.346680  224.470543  69.321699
2025-03-27  223.303406  69.706001  563.845276  224.440621  69.952347
2025-03-28  217.367935  69.341415  552.490417  223.263508  70.277526

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2020-01-02  298.597013   71.292311  45.873731  296.427990   71.545897
2020-01-03  297.448186   71.608677  45.312461  295.113738   71.765659
2020-01-06  297.530925   70.703012  45.672672  294.433631   70.954188
2020-01-07  297.356262   71.845377  45.362720  296.161453   72.415345
2020-01-08  299.414949   71.768109  45.362720  296.556651   71.768109
...                ...         ...        ...         ...         ...
2025-03-24  571.869263  218.046281  67.331236  566.947486  220.460370
2025-03-25  573.122023  219.542622  67.597277  570.417567  220.230940
2025-03-26  573.042520  219.931650  67.892897  563.954641  222.964220
2025-03-27  567.643493  220.021431  69.045796  561.717468  220.849406
2025-03-28  563.039943  217.148471  68.513690  551.903817  221.128734

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342857  297.356261  135480400  11867700  59151200
2020-01-03  45.505137  295.168880  146322800  11354500  77709700
2020-01-06  45.781577  294.553115  118387200  14698300  55653900
2020-01-07  45.614037  296.878327  108872000   9973900  40496400
2020-01-08  45.463246  296.804790  132079200  10676000  68296000
...               ...         ...        ...       ...       ...
2025-03-24  67.794368  567.544039   44299500  12575400  58766800
2025-03-25  67.942160  572.018369   34493600  12513900  38355700
2025-03-26  67.912601  571.909008   34466100  14478200  51848300
2025-03-27  69.154189  563.944681   37094800  11663400  42164200
2025-03-28  69.774979  562.304174   39818600  17412900  71662700

[1317 rows x 15 columns]

In [16]:
stocks.head()

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  72.538521  46.066410  298.578613  72.598899  46.435007
2020-01-03  71.833282  45.815094  296.317719  72.594048  46.066414
2020-01-06  72.405678  45.798328  297.448212  72.444321  45.999383
2020-01-07  72.065155  45.446491  296.611816  72.671348  45.739693
2020-01-08  73.224434  45.530262  298.192596  73.526326  45.773203

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  298.597013  71.292311  45.873731  296.427990  71.545897
2020-01-03  297.448186  71.608677  45.312461  295.113738  71.765659
2020-01-06  297.530925  70.703012  45.672672  294.433631  70.954188
2020-01-07  297.356262  71.845377  45.362720  296.161453  72.415345
2020-01-08  299.414949  71.768109  45.362720  296.556651  71.768109

Price                                 Volume
Ticker             KO         SPY       AAPL        KO       SPY
Date
2020-01-02  46.342857  297.356261  135480400  11867700  59151200
2020-01-03  45.505137  295.168880  146322800  11354500  77709700
2020-01-06  45.781577  294.553115  118387200  14698300  55653900
2020-01-07  45.614037  296.878327  108872000   9973900  40496400
2020-01-08  45.463246  296.804790  132079200  10676000  68296000

In [17]:
stocks.tail()

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2025-03-24  220.191025  67.942169  570.805359  220.939193  68.070274
2025-03-25  223.203659  67.804207  572.177490  223.552811  68.070264
2025-03-26  220.989059  68.996521  565.346680  224.470543  69.321699
2025-03-27  223.303406  69.706001  563.845276  224.440621  69.952347
2025-03-28  217.367935  69.341415  552.490417  223.263508  70.277526

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2025-03-24  571.869263  218.046281  67.331236  566.947486  220.460370
2025-03-25  573.122023  219.542622  67.597277  570.417567  220.230940
2025-03-26  573.042520  219.931650  67.892897  563.954641  222.964220
2025-03-27  567.643493  220.021431  69.045796  561.717468  220.849406
2025-03-28  563.039943  217.148471  68.513690  551.903817  221.128734

Price                                Volume
Ticker             KO         SPY      AAPL        KO       SPY
Date
2025-03-24  67.794368  567.544039  44299500  12575400  58766800
2025-03-25  67.942160  572.018369  34493600  12513900  38355700
2025-03-26  67.912601  571.909008  34466100  14478200  51848300
2025-03-27  69.154189  563.944681  37094800  11663400  42164200
2025-03-28  69.774979  562.304174  39818600  17412900  71662700